version: 2
jobs:
  cargo_fetch:
    docker:
    - image: rust:latest
    working_directory: /mnt/crate
    steps:
    - checkout
    - run: 
        name: "Submodules"
        command: |
          git submodule update --init
    - restore_cache:
        keys:
        - cargo-v1-{{ checksum "Cargo.toml" }}-
        - cargo-v1-
    - run: cargo update
    - run: cargo fetch
    - persist_to_workspace:
        root: .
        paths:
        - Cargo.lock
    - save_cache:
        key: cargo-v1-{{ checksum "Cargo.toml" }}-{{ checksum "Cargo.lock" }}
        paths:
        - /usr/local/cargo/registry
        - /usr/local/cargo/git
  test:
    docker:
    - image: rust:latest
    working_directory: /mnt/crate
    steps:
    - checkout
    - run: 
        name: "Submodules"
        command: |
          git submodule update --init
    - attach_workspace:
        at: .
    - restore_cache:
        keys:
        - cargo-v1-{{ checksum "Cargo.toml" }}-{{ checksum "Cargo.lock" }}
    - run:
        name: Print version information
        command: rustc --version; cargo --version
    - run:
        name: Build and test
        command: cargo test --verbose --frozen 
        environment:
          RUSTFLAGS: -C link-dead-code
  test_release:
    docker:
    - image: rust:latest
    working_directory: /mnt/crate
    steps:
    - checkout
    - run: 
        name: "Submodules"
        command: |
          git submodule update --init
    - attach_workspace:
        at: .
    - restore_cache:
        keys:
        - cargo-v1-{{ checksum "Cargo.toml" }}-{{ checksum "Cargo.lock" }}
    - run:
        name: Print version information
        command: rustc --version; cargo --version
    - run:
        name: Build and test in release profile
        command: cargo test --verbose --frozen --release
workflows:
  version: 2
  test_all_and_coverage:
    jobs:
    - cargo_fetch
    - test:
        requires:
        - cargo_fetch
    - test_release:
        requires:
        - cargo_fetch

